@attribute [Route(AppValues.PageImoti)]

@using BlazorRadzenMls.Models

@inject IApitoService _apito

<div class="rz-p-4">
<RadzenText Text="@__ml["Imoti"]" TextStyle="TextStyle.H4" class="rz-color-primary" />

@if (dataImoti != null)
{
    <RadzenDataGrid @ref="grid" Data="@dataImoti" TItem="ImotMongo" ValueChanged="@grid_ValueChanged"
                    Render="@OnRender" RowDoubleClick="@OnDoubleClick" Page="@grid_PageChange"
                    PageSize="10" AllowPaging="true" AllowSorting="true" AllowAlternatingRows="false"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.CheckBoxList">
        <HeaderTemplate>
            @* <RdznGrdHdrTmpt /> *@
            @time
            @Page
        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn Property="@nameof(Imot.Label)" Title="Label" />
            <RadzenDataGridColumn Property="@nameof(Imot.Location)" Title="Location" />
            <RadzenDataGridColumn Property="@nameof(Imot.Type)" Title="Type" />
            <RadzenDataGridColumn Property="@nameof(Imot.Agent)" Title="Agent" />
            <RadzenDataGridColumn Property="@nameof(Imot.Domain)" Title="Domain" />
            <RadzenDataGridColumn Property="@nameof(Imot.Price)" Title="Price" Width="70px" Resizable="false" />
            <RadzenDataGridColumn Context="cntx" Title="@nameof(Imot.Link)"
                                  Filterable="false" Sortable="false" Resizable="false" Width="50px">
                <Template Context="cntx">
                    <RadzenButton Icon="open_in_new" ButtonStyle="ButtonStyle.Light"
                                  Variant="Variant.Flat" Size="ButtonSize.Medium"
                                  Click="() => __js.OpenNewTab(cntx.Link!, this)" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

    <ImotiForm IsNew="@isNew" NewImot="@newImot" SelectedImot="@selectedImot" Method="@Imot_Form" />
}
else
{
    <LoaderBar />
}
</div>

@code {

    //todo
    [SupplyParameterFromQuery(Name = "page")]
    public int Page { get; set; }

    public void grid_PageChange(PagerEventArgs e)
    {
        // Page = e.PageIndex;
        // __nav.NavigateTo($"{__nav.Uri}?page={Page}", false);
    }
    //todo

    private bool isNew = true;

    private RadzenDataGrid<ImotMongo>? grid;
    private ImotMongo[]? dataImoti;
    private ImotMongo? selectedImot;
    private ImotMongo? newImot;

    private string? time;
    private KeyValuePair<bool, int> PageGoToNeeded = new KeyValuePair<bool, int>(false, 0);

    private void grid_ValueChanged(object items)
    {
        var itemsList = items as List<ImotMongo>;
        if (itemsList == null || itemsList.Count == 0)
            return;
        selectedImot = itemsList[0];
        isNew = false;
    }

    private async Task Imot_Form(HttpMethod httpMethod)
    {
        if (httpMethod == HttpMethod.Post)
        {
            isNew = true;
            await PostImot();
        }
        else if (httpMethod == HttpMethod.Put)
        {
            await EditImot();
        }
        else if (httpMethod == HttpMethod.Delete)
        {
            await Delete();
        }
    }

    private async Task GetImoti()
    {
        Response response = await _apito.GetImoti();
        dataImoti = (ImotMongo[]?)response.Result;

        long total = response.RequestTime + response.DeserializeTime;
        time = $"[{response.RequestTime}ms {response.DeserializeTime}ms] {AppStatic.FormatMilliseconds(total)}";
    }

    private async Task PostImot()
    {
        await _apito.PostImoti(newImot!);
        newImot = new ImotMongo();
        int? index = grid?.CurrentPage;
        await Clear();
        if (index != null)
            PageGoToNeeded = new KeyValuePair<bool, int>(true, index ?? default(int));
    }
    private async Task EditImot()
    {
        if (selectedImot == null)
            return;
        await _apito.PostImoti(selectedImot!, true);
        int? index = grid?.CurrentPage;
        await Clear();
        if (index != null)
            PageGoToNeeded = new KeyValuePair<bool, int>(true, index ?? default(int));
    }
    private async Task Delete()
    {
        var options = new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" };
        bool? confirm = await __dialog.Confirm("Are you sure?", "Delete", options);
        if (confirm == true)
        {
            await _apito.DeleteImot(selectedImot!.Id);
            int? index = grid?.CurrentPage;
            await Clear();
            if (index != null)
                PageGoToNeeded = new KeyValuePair<bool, int>(true, index ?? default(int));
        }
    }
    private async Task Clear()
    {
        // waitingRequest = true;
        selectedImot = null;
        dataImoti = null;
        await GetImoti();
        //waitingRequest = false;
    }

    private void OnRender(DataGridRenderEventArgs<ImotMongo> args)
    {
        if (PageGoToNeeded.Key)
        {
            args.Grid.GoToPage(PageGoToNeeded.Value);
            PageGoToNeeded = new KeyValuePair<bool, int>(false, args.Grid.CurrentPage);
        }
    }

    private async Task OnDoubleClick()
    {
        await __dialog.OpenAsync<ImotiForm>($"Title",
            new Dictionary<string, object>() {
                { "IsNew", isNew },
                { "NewImot", newImot! },
                { "SelectedImot", selectedImot! },
                { "Method", new EventCallback<HttpMethod>(this, Imot_Form) }
            },
            new DialogOptions()
            {
                Resizable = true,
                Draggable = true,
                //Resize = OnResize,
                //Drag = OnDrag,
                //Width = Settings != null ? Settings.Width : "700px",
                //Height = Settings != null ? Settings.Height : "512px",
                //Left = Settings != null ? Settings.Left : null,
                //Top = Settings != null ? Settings.Top : null
            });
    }

    protected override async Task OnInitializedAsync()
    {
        newImot = new ImotMongo();
        await GetImoti();
    }

}