@attribute [Route(AppValues.PageImoti)]

@using BlazorRadzenMls.Models

@inject IApito _apito

<RadzenText Text="@__lang["Imoti"]" TextStyle="TextStyle.H4" class="rz-color-primary" />

@if (dataImoti != null)
{
    <RadzenDataGrid @ref="grid" Data="@dataImoti" TItem="ImotMongo" ValueChanged="@grid_ValueChanged"
                    PageSize="10" AllowPaging="true" AllowSorting="true" AllowAlternatingRows="false"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.CheckBoxList">
        <HeaderTemplate>
            @* <RdznGrdHdrTmpt /> *@
            @time
        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn Property="@nameof(Imot.Label)" Title="Label" />
            <RadzenDataGridColumn Property="@nameof(Imot.Location)" Title="Location" />
            <RadzenDataGridColumn Property="@nameof(Imot.Type)" Title="Type" />
            <RadzenDataGridColumn Property="@nameof(Imot.Domain)" Title="Domain" />
            <RadzenDataGridColumn Property="@nameof(Imot.Price)" Title="Price" Width="70px" Resizable="false" />
            <RadzenDataGridColumn Context="cntx" Title="@nameof(Imot.Link)"
                                  Filterable="false" Sortable="false" Resizable="false" Width="50px">
                <Template Context="cntx">
                    <RadzenButton Icon="open_in_new" ButtonStyle="ButtonStyle.Light"
                                  Variant="Variant.Flat" Size="ButtonSize.Medium"
                                  Click="() => OpenNewTab(cntx.Link)" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

    <ImotiForm IsNew="@isNew" NewImot="@newImot" SelectedImot="@selectedImot" Method="@Imot_Form" />
}
else
{
    <div class="loader">Loading...</div>
}

@code {

    private bool isNew = true;

    private RadzenDataGrid<ImotMongo>? grid;
    private ImotMongo[]? dataImoti;
    private ImotMongo? selectedImot;
    private ImotMongo? newImot;

    private string? time;

    private void grid_ValueChanged(object items)
    {
        var itemsList = items as List<ImotMongo>;
        if (itemsList == null || itemsList.Count == 0)
            return;
        selectedImot = itemsList[0];
        isNew = false;
    }

    private async Task OpenNewTab(string? link)
    {
        await __js.OpenNewTab(link!, this, "OpenNewTab");
    }

    private async Task Imot_Form(HttpMethod httpMethod)
    {
        if (httpMethod == HttpMethod.Post || httpMethod == HttpMethod.Put)
            await PostImoti();
        else if (httpMethod == HttpMethod.Delete)
            await Delete();
    }

    private async Task PostImoti()
    {
        if (isNew)
        {
            await _apito.PostImoti(newImot!);
            newImot = new ImotMongo();
            await Clear(true);
        }
        else
        {
            if (selectedImot != null)
            {
                await _apito.PostImoti(selectedImot!, true);
                await Clear(true);
            }
        }
    }


    private async Task Delete()
    {
        var options = new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" };
        bool? confirm = await __dialog.Confirm("Are you sure?", "Delete", options);
        if (confirm == true)
        {
            await _apito.DeleteImot(selectedImot!.Id);
            await Clear(true);
        }
    }

    private async Task Clear(bool reload = false)
    {
        // waitingRequest = true;
        selectedImot = null;
        if (reload)
        {
            dataImoti = null;
            await GetImoti();
        }
        //waitingRequest = false;
    }

    private async Task GetImoti()
    {
        Response response = await _apito.GetImoti();
        dataImoti = (ImotMongo[]?)response.Result;

        long total = response.RequestTime + response.DeserializeTime;
        time = $"[{response.RequestTime}ms {response.DeserializeTime}ms] {AppStatic.FormatMilliseconds(total)}";
    }

    protected override async Task OnInitializedAsync()
    {
        newImot = new ImotMongo();
        await GetImoti();
    }

}