@attribute [Route(AppValues.PageMachinesRecords)]

@attribute [Authorize]
@* @attribute [Authorize(Roles = "administrator, manager")] *@
@* @attribute [Authorize(Policy = "admin-policy")] *@

@using BlazorRadzenMls.Models

@inject IApito _apito

<RadzenText Text="@__lang["Machines Records"]" TextStyle="TextStyle.H4" class="rz-color-primary" />

@if (dataLogs != null)
{
    <RadzenDataGrid @ref="grid" Data="@dataLogs" TItem="MachinesRecords" @bind-Value="selectedLogs"
                    PageSize="10" AllowPaging="true" AllowSorting="true" IsLoading="@busyDelete"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    AllowFiltering="true" FilterMode="@filterMode" Density="@density"
                    SelectionMode="DataGridSelectionMode.Multiple">
        <HeaderTemplate>
            <RdznGrdHdrTmpt BusyDelete="@busyDelete" DisabledDelete="@disabledDelete"
                            Selected="@selectedValues" ColumnsNames="@columnsNames" Times="@times"
                            Clear="@Clear" Delete="@DeleteLogs" ColumnsChange="@ColumnsChange" />
        </HeaderTemplate>

        <Template Context="logs">
            <RadzenCard Style="margin-bottom:20px">
                Hash: <b>@logs.Hash</b>
            </RadzenCard>
        </Template>

        <Columns>
            <RadzenDataGridColumn Width="40px" Sortable="false" Filterable="false" Property="" Visible=@visibleCheckboxColumn >
                <HeaderTemplate>
                    <RadzenCheckBox TriState="false" TValue="bool?"
                                    Value="@(selectedLogs == null || selectedLogs?.Any() != true ? false : !dataLogs.All(i => selectedLogs.Select(e => e.Id).Contains(i.Id)) ? null : dataLogs.Any(i => selectedLogs.Select(e => e.Id).Contains(i.Id)))"
                                    Change="@(args => selectedLogs = args == true ? (selectedLogs ?? Enumerable.Empty<MachinesRecords>()).Union(dataLogs.Where(i => !(selectedLogs ?? Enumerable.Empty<MachinesRecords>()).Select(e => e.Id).Contains(i.Id))).ToList() : null)" />
                </HeaderTemplate>
                <Template Context="data">
                    <RadzenCheckBox TriState="false" TValue="bool"
                                    Value="@(selectedLogs != null && selectedLogs.Select(e => e.Id).Contains(data.Id))" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(MachinesRecords.Value)" Title="Executed" MinWidth="100px" />
            <RadzenDataGridColumn Property="@nameof(MachinesRecords.ServerVersion)" Title="Api" Width="100px" Visible=@visibleServer />
            <RadzenDataGridColumn Property="@nameof(MachinesRecords.ClientVersion)" Title="Desktop" Width="100px" Visible=@visibleClient />
            <RadzenDataGridColumn Property="@nameof(MachinesRecords.DateTime)" Title="Date" FormatString="@AppValues.DateFullFormat" Width="100px" Visible=@visibleDate />
        </Columns>
    </RadzenDataGrid>
}
else
{
    @if (waitingRequest)
    {
        <div class="loader">Loading...</div>
    }
    else
    {
        @ResponseText
    }
}


@code {

    private bool disabledDelete => (selectedLogs == null || selectedLogs!.Count == 0) ? true : false;
    private bool busyDelete;

    private RadzenDataGrid<MachinesRecords>? grid;
    private MachinesRecords[]? dataLogs;
    private IList<MachinesRecords>? selectedLogs;

    private IList<string>? selectedValues
    {
        get
        {
            if (selectedLogs == null)
                return null;
            return (from s in selectedLogs select s.Value).ToList();
        }
    }
    private Dictionary<string, string>? columnsNames;

    private FilterMode filterMode = FilterMode.Advanced;
    private Density density = Density.Default;
    private bool visibleCheckboxColumn = true;
    private bool visibleServer = true;
    private bool visibleClient = true;
    private bool visibleDate = true;

    private bool waitingRequest;
    private string? ResponseText;
    private Dictionary<string, long>? times;

    private void ColumnsChange(KeyValuePair<string, bool> values)
    {
        switch (values.Key)
        {
            case nameof(density):
                density = values.Value ? Density.Compact : Density.Default;
                break;
            case nameof(filterMode):
                filterMode = values.Value ? FilterMode.CheckBoxList : FilterMode.Advanced;
                break;
            case nameof(visibleCheckboxColumn):
                visibleCheckboxColumn = values.Value;
                break;
            case nameof(MachinesRecords.Server):
                visibleServer = values.Value;
                break;
            case nameof(MachinesRecords.Client):
                visibleClient = values.Value;
                break;
            case nameof(MachinesRecords.Date):
                visibleDate = values.Value;
                break;
            default:
                break;
        }
    }

    private async Task DeleteLogs(bool shouldDelete)
    {
        busyDelete = true;
        if (!shouldDelete)
        {
            busyDelete = false;
            return;
        }
        times = null;
        await DeleteLogsFromApi();
        DeleteLogsFromGrid();
        busyDelete = false;
    }
    private async Task DeleteLogsFromApi()
    {
        var ids = selectedLogs!.Select(p => p.Id).ToArray();
        var response = await _apito.DeleteMachinesLogs(ids!);
        times = new Dictionary<string, long>()
        {
            { "Request", response.RequestTime }
        };
    }
    private void DeleteLogsFromGrid()
    {
        var oldData = dataLogs!.ToList();
        foreach (var item in selectedLogs!)
        {
            var log = oldData.Where(p => p.Id == item.Id).FirstOrDefault();
            if (log == null)
                break;
            oldData.Remove(log);
        }
        dataLogs = oldData.ToArray();
        selectedLogs = null;
    }

    private async Task Clear(bool reload = false)
    {
        waitingRequest = true;
        selectedLogs = null;
        if (reload)
        {
            dataLogs = null;
            await GetMachinesRecords();
            // grid.Reset(true);
            // await grid.FirstPage(true);
        }
        waitingRequest = false;
    }

    private async Task GetMachinesRecords()
    {
        waitingRequest = true;
        Response response = await _apito.GetMachinesRecords();
        dataLogs = (MachinesRecords[]?)response.Result;
        times = new Dictionary<string, long>()
        {
            { "Request", response.RequestTime },
            { "Deserialize", response.DeserializeTime }
        };
        ResponseText = response.Status.ToString();
        waitingRequest = false;
    }

    protected override async Task OnInitializedAsync()
    {
        columnsNames = new Dictionary<string, string>();
        columnsNames.Add(nameof(density), __lang["Compact view"]);
        columnsNames.Add(nameof(filterMode), __lang["Filter list"]);
        columnsNames.Add(nameof(visibleCheckboxColumn), __lang["Select column"]);
        columnsNames.Add(nameof(MachinesRecords.Server), __lang["Server"]);
        columnsNames.Add(nameof(MachinesRecords.Client), __lang["Client"]);
        columnsNames.Add(nameof(MachinesRecords.Date), __lang["Date"]);
        await GetMachinesRecords();
    }
    
}