@using BlazorRadzenMls.Layout.RdznProfileMenus
@using BlazorRadzenMls.Models

@* background-color: var(--rz-panel-menu-background-color); *@
<div id="@htmlIdHeader" class="rz-header" style="display: flex;">
    <div style="flex: 1;">

        <RdznMenuIcon>
            <RdznMenuPanel />
        </RdznMenuIcon>
        @* <div style="@verticalLineStyle"></div> *@
        <RdznMenuIcon Name="build" ExpectRefresh="true" Size="30">
            <RdznMenuOptions />
        </RdznMenuIcon>
        @* <div style="@verticalLineStyle"></div> *@
        <RdznMenuIcon Name="home" NavigateTo="" Size="29" />
        @* <div style="@verticalLineStyle"></div> *@
        <RdznMenuIcon Name="build" NavigateTo="@AppValues.PageOptions" Size="29" />
        @* <div style="@verticalLineStyle"></div> *@
        <RdznMenuIcon Name="description" NavigateTo="@AppValues.GitHubMy" OnNewTab="true" Size="29" />
        @* <div style="@verticalLineStyle"></div> *@
        @* <RdznMenuIcon Name="build" ExpectRefresh="true" Size="30">
            <RdznMenuOptions />
        </RdznMenuIcon> *@
        @* <div style="@verticalLineStyle"></div> *@
    </div>
    <div>
        <RdznMenuIcon Name="account_box" ContentToRight="true">
            <BlazorRadzenMls.Layout.Headers.RdznMenuUser />
        </RdznMenuIcon>
        
        @* <RdznMenuUser /> *@
    </div>
</div>

@code {

    private const string htmlIdHeader = "headerStickyLayout";

    private string verticalLineStyle => $"display: inline-block; position: absolute; top: 10px; height: 30px; width: 1px; background-color: {AppValues.RdznMainColor};";


    // private void SidebarExpand()
    // {
    //     __state.SiteOptions.Menu.SidebarExpanded = !__state.SiteOptions.Menu.SidebarExpanded;
    //     __state.RefreshPage("LeftRight.razor -> SidebarExpand");
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await __js.AddHeaderHeight(htmlIdHeader, this, "OnAfterRenderAsync");
        }
    }

}