@using BlazorRadzenMls.Models

<div style="display: inline;">
    <div id="@menuPanelId" class="@AppValues.HtmlClassMenuIcon" style="display: none;">
        @ChildContent
    </div>
    <RadzenButton id="@menuToggleId" Icon="@Name" Click="@LinkOrMenu"
                  Variant="Variant.Text" ButtonStyle="ButtonStyle.Info"
                  Style="width: 50px; height: 50px; border-right: var(--rz-profile-menu-border);" />
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public int Size { get; set; } = 33;

    [Parameter]
    public string Name { get; set; } = "menu";

    [Parameter]
    public string? NavigateTo { get; set; }

    [Parameter]
    public bool OnNewTab { get; set; }

    private string menuToggleId = "menuToggle" + Guid.NewGuid().ToString();
    private string menuPanelId = "menuPanel" + Guid.NewGuid().ToString();

    private async Task LinkOrMenu()
    {
        if (NavigateTo != null)
        {
            if (OnNewTab)
                await __js.OpenNewTab(NavigateTo, this, "ShowMenuPanel");
            else
                __nav.NavigateTo(NavigateTo);
        }
        else
        {
            await __js.ShowMenuPanel(menuPanelId, AppValues.HtmlClassMenuIcon, "inline", this, "ShowMenuPanel");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await __js.ChangeSidebarToggle(menuToggleId, Size, this, "OnAfterRenderAsync");
        }
    }

}