@using BlazorRadzenMls.Models

<div style="display: inline;">
    <div id="@menuPanelId" class="@AppValues.HtmlClassMenuIcon" style="display: none;">
        @ChildContent
    </div>
    <RadzenButton id="@menuToggleId" Icon="@Name" Click="@LinkOrMenu"
                  Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary"
                  Style="width: 50px; height: 50px; border-right: var(--rz-profile-menu-border);" />
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public int Size { get; set; } = 33;

    [Parameter]
    public string Name { get; set; } = "menu";

    [Parameter]
    public string? NavigateTo { get; set; }

    [Parameter]
    public bool OnNewTab { get; set; }

    private string menuToggleId = "menuToggle" + Guid.NewGuid().ToString();
    private string menuPanelId = "menuPanel" + Guid.NewGuid().ToString();

    private async Task LinkOrMenu()
    {
        if (NavigateTo != null)
        {
            if (OnNewTab)
                await __js.OpenNewTab(NavigateTo, this, "ShowMenuPanel");
            else
                __nav.NavigateTo(NavigateTo);
        }
        else
        {
            var isMenuVisible = await __js.ShowMenuPanel(menuPanelId, AppValues.HtmlClassMenuIcon, "inline", this, "ShowMenuPanel");
            if (isMenuVisible == true)
            {
                int? header = await __js.UpdateHeaderHeight(AppValues.HtmlIdHeader, this, "OnAfterRenderAsync");
                int? footer = await __js.UpdateFooterHeight(AppValues.HtmlIdFooter, this, "OnAfterRenderAsync");
                header = (header == null) ? 0 : header;
                footer = (footer == null) ? 0 : footer;
                int? height = header + footer;
                AppValues.RdznPanelMenuStyle = $"overflow: auto; max-height: calc(100vh - {height}px);";
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await __js.ChangeSidebarToggle(menuToggleId, Size, this, "OnAfterRenderAsync");
        }
    }

}