@page "/information"

@using BlazorRadzenMls.Models

<PageTitle>App Information</PageTitle>

<div class="rz-p-4">
<RadzenText Text="@__ml["App Information"]" TextStyle="TextStyle.H4" class="rz-color-primary" />

<RadzenCard class="rz-background-color-base-300 rz-my-3 rz-shadow-4">
    <RadzenLabel Text="@__ml["Host Environment:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__env.Environment" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["Authentication Configuration:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@AppStatic.GetAuth0(__env.BaseAddress)" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLink Icon="list" Path="appsettings.json" Text="appsettings.json" />
    <br />
    <RadzenLink Icon="list" Path="appsettings.Development.json" Text="appsettings.Development.json" />
    <br />
    <RadzenLabel Text="@__ml["Base Address:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__env.BaseAddress" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["Base Uri:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__nav.BaseUri" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["Uri:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__nav.Uri" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["History Entry State:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__nav.HistoryEntryState" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["Version in project file:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__ver.VersionProject" class="rz-color-primary" Style="font-weight: bold;" />
    <RadzenLabel Text="@__ml["(project's version)"]" class="rz-color-success-dark" />
    <br />
    <RadzenLabel Text="@__ml["Version in wwwroot:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__ver.VersionWwwroot" class="rz-color-primary" Style="font-weight: bold;" />
    <RadzenLabel Text="@__ml["(custom created for version checking)"]" class="rz-color-success-dark" />
    <br />
    <RadzenLink Icon="offline_pin" Path="data/version.txt" Text="version.txt" />
    <br />
    <RadzenLabel Text="@__ml["Current Culture:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@currentCulture" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["Language Culture:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@__ml.CurrentCulture.Name" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["Theme Name:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@theme" class="rz-color-primary" Style="font-weight: bold;" />

    <br />
    <RadzenLabel Text="@__ml["location.hash:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Hash" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.host:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Host" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.hostname:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Hostname" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.href:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Href" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.origin:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Origin" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.pathname:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Pathname" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.port:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Port" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.protocol:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Protocol" class="rz-color-primary" Style="font-weight: bold;" />
    <br />
    <RadzenLabel Text="@__ml["location.search:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@jsLocation?.Search" class="rz-color-primary" Style="font-weight: bold;" />

    <br />
    <RadzenLabel Text="@__ml["your ip is:"]" class="rz-color-success-dark" />
    <RadzenLabel Text="@ip" class="rz-color-primary" Style="font-weight: bold;" />

    <br />
    
</RadzenCard>
</div>

@code {

    private string currentCulture => System.Globalization.CultureInfo.CurrentCulture.Name;
    private string? theme { get; set; }
    private JsLocation? jsLocation;
    private string? ip;

    protected override async Task OnInitializedAsync()
    {
        theme = __theme.ThemeExist(__state.SiteOptions.Theme!) ? __state.SiteOptions.Theme : await __theme.GetTheme();

        jsLocation = await __js.GetLocation(this, "OnInitializedAsync");

        ip = await __js.GetIp(this, "OnInitializedAsync");

        __state.RefreshEvent += delegate { StateHasChanged(); }; //Refresh_Event;
    }
    //private void Refresh_Event(object? sender, EventArgs e) { StateHasChanged(); }

}