@page "/contactemail"

@inject IApitoService _apito

<div class="rz-p-4">

    <RadzenText Text="@__ml["ContactUs"]" TextStyle="TextStyle.H4" class="rz-color-primary" />

    <RadzenFieldset Text="@__ml["SendFeedback"]">
        <RadzenStack Gap="1rem">

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="2">
                    <RadzenLabel Text="Name" Component="Name" class="rz-color-success-dark" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="10">
                    <RadzenTextBox @bind-Value=Name Style="width: 100%;" Name="Name" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="2">
                    <RadzenLabel Text="Email" Component="Email" class="rz-color-success-dark" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="10">
                    <RadzenTextBox @bind-Value=From Style="width: 100%;" Name="Email" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="2">
                    <RadzenLabel Text="Topic" Component="Topic" class="rz-color-success-dark" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="10">
                    <RadzenTextBox @bind-Value=Topic Style="width: 100%;" Name="Topic" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="2">
                    <RadzenLabel Text="Message" Component="Message" class="rz-color-success-dark" />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="10">
                    <RadzenHtmlEditor @bind-Value=Message style="height: 300px;" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="2" />
                <RadzenColumn Size="12" SizeMD="10">
                    <RadzenButton Text="Send" Disabled="@isSendReady" IsBusy="@isSendReady" Icon="flight_takeoff" Click="@Send" />
                </RadzenColumn>
            </RadzenRow>

        </RadzenStack>
    </RadzenFieldset>

</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        From = await AppStatic.GetLoggedEmail(__auth);
        var nameParts = From?.Split('@');
        if (nameParts != null && nameParts.Length > 0)
            Name = nameParts[0];
    }

    private bool isSendReady { get; set; }

    private string? From { get; set; }
    private string? Name { get; set; }
    private string? Topic { get; set; }
    private string? Message { get; set; }

    private async Task Send()
    {
        isSendReady = true;
        var result = await _apito.PostEmail(From!, Name!, Topic!, Message!);
        if (result.Result != null)
        {
            Topic = string.Empty;
            Message = string.Empty;
        }
        isSendReady = false;
    }

}